* {
    font-family: cursive;
}

.name_tag {
    text-align: center;
    width: 100%;
}

.list-group {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.buttons {
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 10px;
}

.audio_file {
    width: 200px;
    height: 15px;
}